// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.page-header-image{
    background-image: url('/assets/barner-sm.jpg');
    background-repeat: no-repeat;
}

.carousel-caption {
    background-color: #f96332 !important;
}

.barner-title{
    vertical-align: middle;
    text-shadow: #f96332 10px 10px 10px;
}

@media screen and (max-width: 991px){
    .sidebar-collapse .navbar .dropdown.show .dropdown-menu, .sidebar-collapse .navbar .dropdown .dropdown-menu{
        height: auto;
        overflow-y: hidden;
    }
}