<div class="page-header page-header-small" id="inicio">
    <div class="page-header-image" data-parallax="true">
    </div>
    <div class="content-center">
        <div class="container">
            <h1 class="title barner-title">Aldea Deporte</h1>
            <!-- <div class="text-center">
                <a href="#pablo" class="btn btn-primary btn-icon btn-round">
                    <i class="fab fa-facebook-square"></i>
                </a>
                <a href="#pablo" class="btn btn-primary btn-icon btn-round">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="#pablo" class="btn btn-primary btn-icon btn-round">
                    <i class="fab fa-google-plus"></i>
                </a>
            </div> -->
        </div>
    </div>
</div>

<div class="section" id="eventos">
    <div class="container-fluid">
        <h2 class="text-center">Nuestros Eventos</h2>
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-12">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
                    </ol>
                    <div class="carousel-inner" role="listbox">
                        <div class="carousel-item active">
                            <img class="d-block" src="/assets/sports/ciclismo-min.jpg" alt="ciclismo">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>Eventos para ciclistas</h5>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img class="d-block" src="/assets/sports/aerobicos-min.jpg" alt="aerobicos">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>Eventos para amantes de los aerobics</h5>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img class="d-block" src="/assets/sports/athetismo-min.jpg" alt="athetismo">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>Eventos para amantes del athetismo</h5>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img class="d-block" src="/assets/sports/baloncesto-min.jpg" alt="baloncesto">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>Eventos para amantes del baloncesto</h5>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img class="d-block" src="/assets/sports/natacion-min.jpg" alt="natacion">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>Eventos para amantes de la natacion</h5>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img class="d-block" src="/assets/sports/niños-min.jpg" alt="actividades para niños">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>Eventos para toda la familia</h5>
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <i class="now-ui-icons arrows-1_minimal-left"></i>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <i class="now-ui-icons arrows-1_minimal-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section section-about-us" id="acerca">
    <div class="container">
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto text-center">
                <h2 class="title">Reto Eventos Deportivos</h2>
                <h5 class="lead">
                    La situación de las localidades es que a pesar de que la Alcaldía ha estado haciendo esfuerzos por
                    mejorar las condiciones de
                    los espacios públicos la apropiación de los mismos sigue siendo reducida. Existen canchas de micro
                    fútbol o basketball que
                    permanecen vacías.
                </h5>
            </div>
        </div>
        <div class="separator separator-primary"></div>
        <div class="section-story-overview">
            <div class="row">
                <div class="col-md-6">
                    <div class="image-container image-left" title="Photo by Leah Kelley from Pexels" style="background-image: url('/assets/bg2.jpg')">
                    </div>
                </div>
                <div class="col-md-6">
                    <!-- First image on the right side, above the article -->
                    <div class="image-container image-right" title="Photo by Ashley  Williams from Pexels" style="background-image: url('/assets/bg1.jpg')"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h3>Problemática nacida en la localidad de los Martires</h3>
                    <p class="lead">
                        La problemática de la comunidad es que según el instituto de estudios urbanos,
                        la localidad cuenta con aproximadamente 16 parques y zonas verdes,
                        los cuales no están siendo aprovechados por los habitantes debido a varios factores,
                        como la inseguridad oel estado de su infraestructura.
                    </p>
                    <h3>Expectativa de nuestro sitio de información</h3>
                    <p class="lead">
                        La expectativa de los habitantes se basa en poder participar constantemente
                        en actividades recreativas de la localidad, pero sobre todo quieren visualizar
                        una oferta deportiva extensa que no dependa enteramente de entes privados o públicos sino más
                        bien de la gestión de la misma comunidad. Diseñar mecanismos que faciliten la comunicación
                        entre los habitantes con el fin de promover dichos espacios sería esencial para el desarrollo
                        social de la zona.
                    </p>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="section section-contact-us text-center" id="contacto">
      <div class="container">
        <h2 class="title">Contactenos</h2>
        <p class="description">Describe tu solicitud o duda.</p>
        <div class="row">
          <div class="col-lg-6 text-center col-md-8 ml-auto mr-auto">
            <div class="input-group input-lg">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="now-ui-icons users_circle-08"></i>
                </span>
              </div>
              <input type="text" class="form-control" placeholder="Nombres..." required>
            </div>
            <div class="input-group input-lg">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="now-ui-icons ui-1_email-85"></i>
                </span>
              </div>
              <input type="text" class="form-control" placeholder="Email..." required>
            </div>
            <div class="textarea-container">
              <textarea class="form-control" name="name" rows="4" cols="80" placeholder="Escribe un message..." required></textarea>
            </div>
            <div class="send-button">
              <a href="#contacto" class="btn btn-primary btn-round btn-block btn-lg">Enviar Mensaje</a>
            </div>
          </div>
        </div>
      </div>
    </div>